.how-to-order {
    text-align: center;
    padding: 4rem 2.4rem;

    @include breakpoint($sm) {
        padding: 4rem 0;
    }

    h2 {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .description {
        color: $black;
        font-size: 1.4rem;
        max-width: 35rem;
        margin: 0 auto;
        line-height: 2rem;

        @include breakpoint($md) {
            max-width: 40rem;
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7rem;
        padding-top: 4rem;
        justify-content: center;

        @include breakpoint($sm) {
            flex-direction: row;
            gap: 2rem;
            padding-top: 8rem;
        }

        .arrow {
            &:after {
                content: '\e900';
                background: $white;
                color: $green;
                font-size: 3rem;
                border-radius: 50%;
                padding: 1rem;
                width: 2rem;
                height: 2rem;
                font-family: 'tlc';
            }

            &:hover {
                &:after {
                    background-color: $green;
                    color: $white;
                }
                
            }
        }

        .step {
            border-radius: 2rem;
            padding: 2rem;
            box-shadow: 0px 4px 19px -10px rgba(0, 0, 0, 0.5);
            text-align: left;
            max-width: 20rem;
            transition-duration: 0.3s;
            cursor: default;

            &:hover {
                background-color: $green;

                h3, p {
                    color: $white;
                }

                .icon {
                    &:before {
                        color: #fff;
                    }
                }
            }

            @include breakpoint($lg) {
                max-width: 23rem;
                padding: 4rem 2rem;
            }

            h3 {
                color: $black;
                margin: 2rem 0;
                font-size: 1.4rem;
            }

            p { 
                color: $black;
                font-size: 1rem;
            }

            .icon {
                font-size: 3rem;
            }
        }
    }
}