* {
    box-sizing: border-box;
  }
  
  html {
    // scroll-behavior: smooth;
    font-size: 10px;
  }
  
  a {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    text-decoration: none;
    cursor: pointer;
  }
  
  body {
    font-family: $font-primary;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  

  img {
    max-width: 100%;
  }
  
  p {
    font-size: 1.6rem;
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  main {
    padding: 1rem 0 0;
  }