//Colors
$gray: #F3F2F2;
$apps: #F0F5F7;
$green: #00CC00;
$yellow: #ffCC00;
$black: #000000;
$white: #ffffff;

//Fonts
$font-primary: "Open Sans", sans-serif;
$font-heading: "RockSalt-Regular", sans-serif;

//Sizes
$xs: 375px;
$xs-ls: 568px;
$sm: 768px;
$md: 992px;
$lg: 1200px;